body{
margin:0;
font-family:Arial;
background:#111;
color:white;
}

#player{
position:absolute;
top:0;
left:0;
width:100vw;
height:100vh;
}

.controls{
position:fixed;
bottom:20px;
left:20px;
display:flex;
gap:10px;
}

button{
padding:8px 12px;
border:none;
border-radius:5px;
background:#ff0000;
color:white;
cursor:pointer;
}

button:hover{
background:#cc0000;
}

.send-container{
display:flex;
flex-direction:column;
align-items:center;
padding:40px;
gap:20px;
}

input{
width:320px;
padding:10px;
font-size:16px;
}

ul{
list-style:none;
padding:0;
width:550px;
}

li{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
border-bottom:1px solid #444;
}

.buttons{
display:flex;
gap:6px;
}

#nowPlaying{
width:550px;
padding:10px;
background:#222;
border-radius:5px;
}

/* モーダル背景 */
.modal{
 position:fixed;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:rgba(0,0,0,0.5);
 display:none;
 justify-content:center;
 align-items:center;
 z-index:999;
}

/* モーダル本体 */
.modal-content{
 background:#fff;
 padding:20px;
 width:500px;
 max-height:80vh;
 overflow:auto;
 border-radius:8px;
 box-shadow:0 10px 25px rgba(0,0,0,0.3);
}
